/* DEFAULTS
----------------------------------------------------------*/

body
{
    margin: 0;
    padding: 0;
    line-height: 18px;
    color: #333;
    font-size: 10pt;
    font-family: "Helvetica Neue" , "Helvetica" , Arial, sans-serif; /*font-size: 10pt;*/
    background: url(/images/imgbg.jpg);
}

.wrapper
{
    max-width: 970px;
    margin: 0 auto;
    text-align: left;
}

a:link, a:visited
{
    color: #003b00;
}

a:hover
{
    text-decoration: none;
}

a:active
{
    color: #003b00;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* DIV */
div.float-left
{
    float: left;
}

div.float-right
{
    float: right;
}

div.clear
{
    clear: both;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.0em;
    text-transform: none;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 970px;
    background-color: #fff; /*     background-image: linear-gradient(left , #F5F5F5 0%, #FFFFFF 5%, #FFFFFF 95%, #F5F5F5 100%);     background-image: -o-linear-gradient(left , #F5F5F5 0%, #FFFFFF 5%, #FFFFFF 95%, #F5F5F5 100%);     background-image: -moz-linear-gradient(left , #F5F5F5 0%, #FFFFFF 5%, #FFFFFF 95%, #F5F5F5 100%);     background-image: -webkit-linear-gradient(left , #F5F5F5 0%, #FFFFFF 5%, #FFFFFF 95%, #F5F5F5 100%);     background-image: -ms-linear-gradient(left , #F5F5F5 0%, #FFFFFF 5%, #FFFFFF 95%, #F5F5F5 100%);     background-image: -webkit-gradient( 	linear, 	left top, 	right top, 	color-stop(0, #F5F5F5), 	color-stop(0.05, #FFFFFF), 	color-stop(0.95, #FFFFFF), 	color-stop(1, #F5F5F5) );*/
    margin: 0px auto 0px auto;
}

div.title
{
    display: block;
    line-height: 60px;
    text-align: left;
    width: 100%;
    clear: both;
}

div.title #logo
{
    float: left;
}

div.title h1
{
    font-size: 13pt;
    color: Red;
    font-weight: bold;
    margin-left: 50px;
}

div.title h1 span
{
    font-size: .6em;
}

div.main
{
    clear: both;
}

div.main div#content
{
    width: 99%;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 0px 8px;
    width: 200px;
    min-height: 200px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    width: 100%;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 100%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #555;
}

.loginDisplay a:link, a:visited
{
    color: #003b00;
    text-decoration: none;
}

.loginDisplay a:hover
{
    color: #555;
}

div.mainmenu
{
    font-family: Verdana;
    font-size: 1.0em;
    display: block;
    float: right;
    margin-top: 45px;
}

div.mainmenu a
{
    margin: 0 0 0 18px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(35, 86, 109);
}

div.mainmenu a:hover
{
    color: #4d90fe;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

ul.item
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
    line-height: 30px;
}

ul.topic li a, ul.topic li a:visited
{
    background: url('/Images/itemarrow.gif') no-repeat 0 5px;
    color: #003b00;
    text-decoration: none;
    padding: 0 12px;
}

ul.topic li
{
    border-bottom: 1px dotted #eee;
}

ul.topic li a:hover
{
    color: #aaa;
}

ul.topic li a:active
{
    color: #cfdbe6;
}

ul.topic
{
    text-align: justify;
}

a.name
{
    color: #898989;
    text-decoration: none;
}

a.name:hover
{
    text-decoration: underline;
}

input.button, a.button
{
    text-transform: uppercase;
    float: left;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #299a0b;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 5px 5px;
    cursor: pointer;
    border: solid 1px #ccc;
}

input.button:hover, a.button:hover
{
    background-color: #1FA5FF;
    background-image: linear-gradient(bottom, #006FD1 2%, #1FA5FF 51%);
    background-image: -o-linear-gradient(bottom, #006FD1 2%, #1FA5FF 51%);
    background-image: -moz-linear-gradient(bottom, #006FD1 2%, #1FA5FF 51%);
    background-image: -webkit-linear-gradient(bottom, #006FD1 2%, #1FA5FF 51%);
    background-image: -ms-linear-gradient(bottom, #006FD1 2%, #1FA5FF 51%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, #006FD1), color-stop(0.51, #1FA5FF) );
}

table.tproduct
{
    border: solid 1px #eee;
    border-spacing: 1;
}

table.tproduct thead
{
    background: url(/images/nav_normal_bg.png) bottom repeat-x #000;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

table.tproduct thead th
{
    font-weight: 600;
}
table.tproduct tbody tr:nth-child(2n+1)
{
    background-color: #ededed;
}
table.tproduct tbody tr td.quantity
{
    text-align: center;
}

table.tproduct tr td.price
{
    text-align: right;
}

table.tproduct tbody tr td.quantity span
{
    width: 100%;
    z-index: -99;
    line-height: 26px;
    font-weight: bold;
}

table.tproduct tbody tr td.quantity a
{
    z-index: 99;
    display: none;
}

table.tproduct tfoot tr
{
    background: url(/images/nav_normal_bg.png) bottom repeat-x #000;
    color: #fff;
    font-weight: bolder;
    line-height: 38px;
}

table.tproduct tfoot tr td.grandtotal
{
    text-align: center;
}

ul.list li
{
    line-height: 28px;
    list-style-type: square;
}

ul.list li ul li
{
    list-style-type: disc;
}

table.tborder th, table.tborder td
{
    border: solid 1px #eee;
}

a.backtotop, a.backtotop:visited
{
    float: right;
    background: url(/images/goTop.png) no-repeat left top;
    padding: 0 0 0 68px;
    margin-right: 20px;
    line-height: 38px;
    text-decoration: none;
}

a.backtotop:hover
{
    text-decoration: underline;
}

a.backtohome, a.backtohome:visited
{
    float: left;
    background: url(/images/home.png) no-repeat left top;
    padding: 0 0 0 35px;
    margin: auto;
    line-height: 38px;
    text-decoration: none;
}

a.backtohome:hover
{
    text-decoration: underline;
}

table.grid
{
    width: 100%;
}

DIV.product-header
{
    color: white;
    width: 700px;
    line-height: 38px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    background-color: rgb(35, 86, 109);
}

table#grid
{
    width: 100%;
}

table#grid
{
    line-height: 26px;
}

table#grid thead tr
{
    color: #eee;
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(center top, #4D90FE, #357AE8);
}

table#grid thead tr a
{
    color: #eee;
    text-decoration: none;
}

table#grid tr td.crud
{
    color: #4d90fe;
}

table#grid tr a, table#grid tbody tr a:visited
{
    color: #4d90fe;
    text-decoration: none;
}

table#grid tr a:hover
{
    text-decoration: underline;
}

table#grid tr.evenRow
{
    background: #eee;
}

table#grid thead tr th.crud
{
    width: 100px;
}

table#grid td.accounting
{
    text-align: right;
    color: red;
}

fieldset.dataentry
{
    width: 75%;
}

fieldset.dataentry legend
{
    font-variant: small-caps;
    font-size: 1.3em;
    color: #4d90fe;
}

fieldset.dataentry div
{
    padding: 2px;
}

fieldset.dataentry div.label
{
    margin-top: 6px;
    float: left;
    min-width: 120px;
}

fieldset.dataentry input[type=text], fieldset.dataentry select
{
    background: url(/images/input.gif) repeat-x scroll 0 -89px transparent;
    padding: 6px;
    border: 1px solid #BBB;
    min-width: 220px;
}

fieldset.dataentry input[type=text]:focus, fieldset.dataentry select:focus
{
    border: 1px solid #4d90fe;
}

fieldset.dataentry input[type=text].auto
{
    text-align: right;
}


div.button
{
    text-align: right;
}

div.button a
{
    color: #fff;
    text-decoration: none;
    border: 1px solid #3079ed;
    text-shadow: 0 2px rgba(0,0,0,0.1);
    display: inline-block;
    min-width: 46px;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 29px;
    line-height: 29px;
    vertical-align: bottom;
    margin: 0;
    padding: 6px;
}

div.button a:hover
{
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top, #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #ededed;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

div.button a:active
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.back-top, .go-bottom
{
    position: fixed;
    bottom: 0;
}

.back-top
{
    right: 8px;
}

.go-bottom
{
    right: 38px;
}

.back-top a, .go-bottom a
{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.back-top a:hover, .go-bottom a:hover
{
    color: #f5f5f5;
}

/* arrow icon (span tag) */
.back-top span, .go-bottom span
{
    width: 28px;
    height: 28px;
    display: block;
}

.back-top span
{
    background: url(/images/goTop.png) no-repeat center center;
}

.go-bottom span
{
    /*background: url('/Images/gobottom.gif') no-repeat center center;*/
}

.back-top a:hover span
{
    background: url(/images/goTop.png) no-repeat center center;
}

.go-bottom a:hover span
{
    /*background: url('/Images/gobottom.gif') no-repeat center center;*/
}

/*  */

#screenshot
{
    position: absolute;
    border: 1px solid #888;
    background: #fff;
    padding: 3px;
    display: none;
    color: #fff;
}

#screenshot img
{
    width: 360px;
}

/*_________________________ Zoom Hover _______ Start - Projects - jCarouselLiteDemo _____________________________________________*/

.carousel
{
    width: 100%;
    position: relative;
    max-height: 200px;
}

.carousel button
{
    /*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
    float: left;
}

.carousel a.prev, .carousel a.next
{
    display: block;
    float: left;
    width: 20px;
    height: 100px;
    text-decoration: none;
    margin-top: 30px;
    background: url(/images/slide-arrow.gif) no-repeat 0 0;
}

.carousel a.next
{
    float: right;
    background: url(/images/slide-arrow.gif) no-repeat -20px 0;
}

.carousel a.next:hover
{
    opacity: 0.5;
}

.carousel a.prev:hover
{
    opacity: 0.5;
}

.carousel a:hover, .carousel a:active
{
    border: none;
    outline: none;
}

.carousel .jCarouselLite
{
    float: left;
    position: relative;
    visibility: hidden;
    left: -5000px;
}

.carousel ul
{
    margin: 0;
    text-align: center;
    list-style: none;
}

.carousel li
{
    display: block;
}

.carousel li .product-cell1
{
    width: 110px;
    height: 100px;
    margin: 3px;
    z-index: 0;
}

.carousel li .product-cell1 .product-image
{
    width: 110px;
    height: auto;
}

.carousel li .product-cell1 .product-image img
{
    width: 100%;
}

.carousel li .product-cell1 .product-image div.overImg
{
    width: 168px;
    height: 168px;
    position: absolute;
    z-index: 10;
}

.carousel li .product-cell1 .product-image div.overImg a
{
    width: 100%;
    height: 100%;
    display: block;
}

.carousel span.price1
{
    font-weight: bold;
    font-size: 10pt;
    color: rgb(35, 86, 109);
}

table.hotproducts
{
    margin: auto;
    padding: 0;
}

table.hotproducts div.product-cell1
{
    width: 220px;
    height: 220px;
    margin: 3px;
    padding: 8px 0 8px 0;
    z-index: 0;
}

table.hotproducts div.product-cell1 .product-image
{
    width: 210px;
    height: auto;
}

table.hotproducts div.product-cell1 .product-image img
{
    width: 100%;
}

table.hotproducts div.product-cell1 .product-image div.overImg
{
    position: absolute;
    z-index: 10;
}

table.hotproducts div.product-cell1 .product-image div.overImg a
{
    width: 100%;
    height: 100%;
    display: block;
}



/* Page Header */
div#header .page-header
{
}

div#header .page-header .wrapper .logo
{
    float: left;
    padding: 15px 0 17px 0;
}


/* Advertise */
div#header .advertise
{
    position: fixed;
    float: left;
    overflow: hidden;
    cursor: pointer;
    top: 100px;
}

div#header #advertise-left
{
    left: 0;
    z-index: -1;
}
div#header #advertise-right
{
    right: 0;
    z-index: -1;
}

/* Top Menu */
/*
div#header #topmenu .wrapper
{
    font-weight: bold;
    font-family: "Helvetica";
    margin: 15px auto;
}

div#header #topmenu ul
{
    list-style: none;
}

div#header #topmenu ul li
{
    float: left;
    font-size: 12pt;
}

div#header #topmenu ul li a
{
    color: #666;
    text-shadow: 1px 1px 1px #eee;
    text-decoration: none;
    display: block;
    padding: 13px 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid 5px #006e2e;
}

div#header #topmenu ul li:last-child a
{
    border-right: none;
}

div#header #topmenu ul li:hover a
{
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    background: #00913c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTEzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZlMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #00913c 0%, #006e2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00913c), color-stop(100%,#006e2e));
    background: -webkit-linear-gradient(top,  #00913c 0%,#006e2e 100%);
    background: -o-linear-gradient(top,  #00913c 0%,#006e2e 100%);
    background: -ms-linear-gradient(top,  #00913c 0%,#006e2e 100%);
    background: linear-gradient(to bottom,  #00913c 0%,#006e2e 100%);
}
*/

#top-menu #hor-menu
{
    overflow: hidden;
    margin: 0 auto;
    clear: both;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#cartDiv #custTable, .shop-cart
{
    clear: both;
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
}

#cartDiv #custTable tr
{
    line-height: 30px;
}

#cartDiv #custTable tr input, select
{
    width: 30%;
}
#cartDiv #custTable tr textarea
{
    width: 70%;
}

table .button-edit, .button-delete
{
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    border: none;
    display: inline;
    opacity: 0.4;
}

table .button-edit:hover, .button-delete:hover
{
    opacity: 1;
}
table .button-delete
{
    background: url(/images/delete.png) no-repeat;
}

table .button
{
    text-align: center;
}


.group-caption
{
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background: url(/images/nav_normal_bg.png) bottom repeat-x #000;
    font-size: 12pt;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid #313842;
    color: #fff;
}

.group-caption span
{
    color: #fff;
}

.center
{
    text-align: center;
}

.bold
{
    font-weight: bold;
}

/* Information */

#footer
{
    /* border-top: 5px solid #006e2e; */
    padding: 10px;
}

#footer ul li
{
    margin-top: 16px;
}

#footer ul li ul li
{
    margin-top: 6px;
}

#footer ul li a
{
    font-weight: bold;
    font-size: 11pt; /* color:  #006e2e; */
    color: rgb(246, 105, 7);
    text-decoration: none;
}

#footer ul li ul li a
{
    margin-left: 10px;
    font-size: 9pt;
    color: #333;
    text-decoration: none;
}

.fb_iframe_widget span
{
    width: 220px !important;
}
.fb-like-box iframe
{
    width: 220px !important;
}

ul.menu
{
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    /*background: url('/Images/menu.jpg') repeat-x;*/
    height: 36px;
    font-size: .9em;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    font-weight: bold;
    text-align: center;
}

ul.menu li
{
    width: auto;
    display: block;
    line-height: 33px;
    float: left;
}

ul.menu li a, ul.menu li a:visited
{
    padding: 11px 0 13px 0;
    color: #ededed;
    text-decoration: none;
}

ul.menu li a span, ul.menu li a:visited span
{
    padding: 11px;
}

ul.menu li a:hover, ul.menu li a.hover
{
    background-color: #ededed;
    background-image: -moz-linear-gradient(center top , #dedede, #ededed);
    /*background: url('/Images/ipmenuleft.gif') no-repeat left top;*/
    color: #4d90fe;
    text-decoration: none;
}

ul.menu li a:hover span, ul.menu li a.hover span
{
    /*background: url('/Images/ipmenuright.gif') no-repeat right top;*/
}

ul.menu li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

ul.menu li ul.children
{
    float: left;
    padding: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 28px;
    -moz-border-radius: 0px 0px 3px 3px;
    -khtml-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
ul.menu li ul.children li
{
    padding: 0 16px 0 16px;
    border: none;
}
ul.menu li:hover ul.children
{
    display: block;
}
ul.menu li ul.children li a
{
    color: #4d90fe;
    display: inline;
}
ul.menu li ul.children li a:hover
{
    background: none;
    text-decoration: underline;
}
ul.menu li ul.children li:hover
{
    background: none;
}
div.submenu
{
    height: 26px;
    background: #ededed;
    width: auto;
}