/*  idTabs ~ Sean Catchpole  */


/* Style for Usual tabs */
.usual 
{
    margin-top: 20px;
    width: 100%;
}

    .usual ul {
        padding: 0;
        margin: 0;
    }

        .usual ul li {
            list-style: none;
            float: left;
        }

        .usual ul a {
            display: block;
            padding: 12px 20px;
            text-decoration: none!important;
            margin: 1px;
            margin-left: 0;
            font-weight: bold;
            color: #FFF;
            background: #F76907;
        }

            .usual ul a:hover {
                color: #FFF;
                background: #ffa84c;
            }

            .usual ul a.selected {
                margin-bottom: -1px;
                color: #F76907;
                background: snow;
                border: 1px solid #F76907;
                border-bottom: 1px solid snow;
                cursor: default;
            }

    .usual div {
        padding: 10px 10px 8px 10px;
        *padding-top: 3px;
        *margin-top: -15px;
        clear: left;
        background: snow;
        font: 10pt Georgia;
        border: 1px solid #F76907;
    }

        .usual div a {
            color: #000;
            font-weight: bold;
        }

/* override MsoNormal*/
p.MsoNormal {
    margin: 0 !important;
    text-indent: 0 !important;
}
