/*  idTabs ~ Sean Catchpole  */


/* Style for Usual tabs */
.usual {
    width: 100%;
}

    .usual ul {
        padding: 0;
        margin: 0;
    }

        .usual ul li {
            list-style: none;
            float: left;
        }

        .usual ul a {
            display: block;
            padding: 6px 10px;
            text-decoration: none!important;
            margin: 1px;
            margin-left: 0;
            font: 10pt Verdana;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #FFF;
            background: #AAA;
        }

            .usual ul a:hover {
                color: #FFF;
                background: #AAA;
            }

            .usual ul a.selected {
                margin-bottom: -1px;
                color: #AAA;
                background: snow;
                border: 1px solid #AAA;
                border-bottom: 1px solid snow;
                cursor: default;
            }

    .usual div {
        padding: 10px 10px 8px 10px;
        *padding-top: 3px;
        *margin-top: -15px;
        clear: left;
        width: 698px;
        background: snow;
        font: 10pt Georgia;
        border: 1px solid #AAA;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .usual div a {
            color: #000;
            font-weight: bold;
        }

/* override MsoNormal*/
p.MsoNormal {
    margin: 0 !important;
    text-indent: 0 !important;
}
