{#template MAIN}
<table id="grid" cellpadding="6" cellspacing="0" class="grid" border="0">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá
            </th>
            <th class="crud">
                <a class="btnNew" href="/Admin/Pages/ProductEntry.aspx">Tạo mới</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {#foreach $T.List as item}
        <tr class="{#cycle values=['','evenRow']}">
            {#include ROW root=$T.item}
            <td class="crud">
                <a href="http://phukienipadx.com/Pages/ProductDetail.aspx?ID={$T.item.ProductID}"
                    class="btnEdit">View</a>&nbsp;|&nbsp;<a href="/Admin/Pages/ProductEntry.aspx?ID={$T.item.ProductID}"
                        class="btnEdit">Edit</a>&nbsp;|&nbsp;<a href="javascript:void(0)" id="{$T.item.ProductID}"
                            class="btnDelete">Del</a>
            </td>
        </tr>
        {#/for}
    </tbody>
    <tfoot>
    </tfoot>
</table>
{#/template MAIN} {#template ROW}
<td>
    {$T.ProductName}
</td>
<td class="accounting">
    {accounting.formatMoney($T.Price)}
</td>
{#/template ROW}