<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="phukienipadx.Dal.Properties.Settings.phukienipadx_comConnectionString"
      connectionString="Data Source=123.30.185.47;Initial Catalog=phukienipadx_com;Persist Security Info=True;User ID=phukienipadx;Password=admin1!"
      providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/NiceStore.csdl|res://*/NiceStore.ssdl|res://*/NiceStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.2.106,1433;initial catalog=phu4ba65_ipadx;persist security info=True;user id=phu4ba65_ipadx;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="phukienipadx.Dal.Properties.Settings.phu4ba65_ipadxConnectionString"
      connectionString="Data Source=112.78.2.106,1433;Initial Catalog=phu4ba65_ipadx;Persist Security Info=True;User ID=phu4ba65_ipadx;Password=admin@1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>