<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/NiceStore.csdl|res://*/NiceStore.ssdl|res://*/NiceStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=phukienipadx;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="phukienipadx.Dal.Properties.Settings.phukienipadx_comConnectionString"
        connectionString="Data Source=123.30.185.47;Initial Catalog=phukienipadx_com;Persist Security Info=True;User ID=phukienipadx;Password=admin1!"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>